#root {
  height: 95vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
  padding: 30px;
  cursor: url("./images/amiga-pointer.cur"), auto;
  background-image: url("./images/amiga-screen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: white #808080 #808080 white;
  padding: 14px;
  background-color: rgb(190, 190, 190);
}

.amiga-window-outer {
  border: 2px solid;
  border-color: white rgb(4, 16, 28) rgb(4, 16, 28) white;
  padding: 20px 5px 5px 5px;
  background-color: #718bbe;
}

.amiga-window-title {
  background-color: #718bbe;
  border-bottom: 2px solid rgb(4, 16, 28);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 20px;
}

.amiga-close-window-outer {
  border-right: 3px solid rgb(4, 16, 28);
  border-bottom: 3px solid rgb(4, 16, 28);
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  left: -5px;
  top: -20px;
  position: absolute;
}

.amiga-close-window-outer-border {
  position: absolute;
  border-left: 2px solid rgb(248, 255, 255);
  width: 3px;
  height: 40px;
  left: 42.5px;
  top: 0px;
}

.amiga-close-window-inner {
  background-color: rgb(248, 255, 255);
  border: 3px solid rgb(4, 16, 28);
  position: absolute;
  width: 9px;
  height: 16px;
  left: 13px;
  top: 10px;
}

.amiga-window-title-text {
  left: 48px;
  top: -18px;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
}

.micro-text {
  margin-left: 10px;
  font-size: 6px;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
