#root {
  height: 95vh;
}

.amiga-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
  padding: 30px;
  cursor: url("./images/amiga-pointer.cur"), auto;
  background-image: url("./images/amiga-screen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.amiga-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: white #808080 #808080 white;
  padding: 14px;
  background-color: rgb(190, 190, 190);
}

.amiga-window-outer {
  border: 2px solid;
  border-color: white rgb(4, 16, 28) rgb(4, 16, 28) white;
  padding: 20px 5px 5px 5px;
  background-color: #718bbe;
}

.amiga-window-title {
  background-color: #718bbe;
  border-bottom: 2px solid rgb(4, 16, 28);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 20px;
}

.amiga-title-img {
  position: absolute;
  top: -22px;
  left: -7px;
  width: calc(100% + 14px);
  height: 44px;
  object-fit: fill;
}

.amiga-window-title-text {
  left: 48px;
  top: -16px;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
}

.micro-text {
  margin-left: 10px;
  font-size: 6px;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* --------------------- Thème Windows --------------------- */

.windows-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
  padding: 30px;
  background-image: url("./images/windows-screen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.windows-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: #898989 #000 #000 #000;
  padding: 14px;
  background-color: rgb(190, 190, 190);
}

.windows-window-outer {
  border: 2px solid;
  border-color: #000 #000 #000 #000;
  padding: 20px 5px 5px 5px;
  background-color: #bfbfbf;
}

.windows-window-title {
  background-color: #000082;
  border-bottom: 2px solid rgb(4, 16, 28);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 20px;
  color: #fff;
}

.windows-window-title-text {
  left: 48px;
  top: -13px;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
}

/* --------------------- Menu --------------------- */

@keyframes image_blur {
  0% {
    background-color: rgba(255, 255, 255, 0);
    filter: blur(0px);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
    filter: blur(5px);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    filter: blur(0px);
  }
}

/* Smartphones et tablettes */
@media (max-width: 560px) {
  .invisible-menu {
    position: absolute;
    width: 30px;
    height: 40px;
    left: -5px;
    top: -19px;
    z-index: 3;
    animation: image_blur 2s;
    animation-iteration-count: infinite;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .invisible-menu {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -4px;
    top: -17px;
    z-index: 3;
    animation: image_blur 2s;
    animation-iteration-count: infinite;
  }
}

.invisible-menu:hover {
  animation-iteration-count: unset;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(3px);
}

.amiga-menu {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border: 2px solid black;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 21px;
  z-index: 4;
}

.amiga-menu-item {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  list-style: none;
  cursor: pointer;
}

.amiga-menu-item.select {
  list-style: disc;
}

.amiga-menu-item:hover {
  background-color: #ddd;
  color: black;
}

/* Smartphones et tablettes */
@media (max-width: 560px) {
  .desktop-only {
    display: none;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .desktop-only {
    display: block;
  }
}
